<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <!--UAT-->
    <!--
    <add name="connectionStringNrbWork" connectionString="7yd4MP3VGCgFvFyV4t81hL13K9EFP3ubA88Gd4uAdysuaCtpV0CK3mj4X0YfgCkRE4ad1mnn1ECxiq1QgI1r7tVhQ9e9nIP1HUv8HI7YY2PCwHYvHdGPT5Shgbz2/MxI8B8nRwiDXQ0rZOnn4cXKkL1trbjnruYd8a2arAPjkD1OncSTVmUELnrFu9W7nov/f0+yvp1UEAMpC8xgc37ONA=="/>
    <add name="connectionStringLv" connectionString="7yd4MP3VGCgFvFyV4t81hL13K9EFP3ubA88Gd4uAdysuaCtpV0CK3mj4X0YfgCkRE4ad1mnn1ECxiq1QgI1r7tVhQ9e9nIP1HUv8HI7YY2NCKU9i2TVkr/bvUkDecYpN/J9uhGk2hAEvWthtUexvem8BZXc7uTUZaTSLnOfDYIK1QuhvcNqLRo0JXBj7T5n5X4mptCP/RvBx9MBRTBeO+kJSg1Ghvavd"/>
    <add name="connectionStringDR" connectionString="7yd4MP3VGCgFvFyV4t81hL13K9EFP3ubA88Gd4uAdysuaCtpV0CK3mj4X0YfgCkRE4ad1mnn1ECxiq1QgI1r7tVhQ9e9nIP1HUv8HI7YY2NCKU9i2TVkr/bvUkDecYpN/J9uhGk2hAEvWthtUexvem8BZXc7uTUZaTSLnOfDYIK1QuhvcNqLRo0JXBj7T5n5X4mptCP/RvBx9MBRTBeO+kJSg1Ghvavd"/>
    <add name="connectionStringOld" connectionString="7yd4MP3VGCgFvFyV4t81hL13K9EFP3ubA88Gd4uAdysuaCtpV0CK3mj4X0YfgCkRE4ad1mnn1ECxiq1QgI1r7tVhQ9e9nIP1HUv8HI7YY2NCKU9i2TVkr/bvUkDecYpN/J9uhGk2hAEvWthtUexvem8BZXc7uTUZaTSLnOfDYIK1QuhvcNqLRo0JXBj7T5n5X4mptCP/RvBx9MBRTBeO+kJSg1Ghvavd"/>
    <add name="connectionStringUAT" connectionString="7yd4MP3VGCgFvFyV4t81hL13K9EFP3ubA88Gd4uAdysuaCtpV0CK3mj4X0YfgCkRE4ad1mnn1ECxiq1QgI1r7tVhQ9e9nIP1HUv8HI7YY2NCKU9i2TVkr/bvUkDecYpN/J9uhGk2hAEvWthtUexvem8BZXc7uTUZaTSLnOfDYIK1QuhvcNqLRo0JXBj7T5n5X4mptCP/RvBx9MBRTBeO+kJSg1Ghvavd"/>
    -->


    <!--Live-->
    
    <add name="connectionStringNrbWork" connectionString="7yd4MP3VGCgFvFyV4t81hL13K9EFP3ubmIfV6arMv+BwEcytVleK79E65XBpWfELZ9kv1vYl3SSGBDiZUxFvCZXWTbb3yIdh39Kk7C+7mG0RBYFvZrFwKxiGwe82cAM2CvRj6bB2aok0UlP/RKm2RafoU6fBX3I42TZzCj7hH585++AECeXTFxrFYHxALYsUBjsaxa18AIbW3uRXv64WjhVHIiMnx5eT"/>
    <add name="connectionStringLv" connectionString="7yd4MP3VGCgFvFyV4t81hL13K9EFP3ubmIfV6arMv+BwEcytVleK79E65XBpWfELZ9kv1vYl3SSGBDiZUxFvCZXWTbb3yIdh39Kk7C+7mG1/dbaPxIfVPpoJ3i/CopIKvi/j+t6eAxgpW0DHT5mPAsqCKIU28rJq/J052vVDsFaBFZHcMmKVkLSF/I9f2NFE98qlOaexe0+QzLDZf5AIj/MNZOurr5stg1f5Z8cBZcuWho7DSzANa4ZsOJuNWI2OW0HrKagfq2zRvxWycJGpJx0e3Wv6AYyxy5LBAovYRNo="/>
    <add name="connectionStringDR" connectionString="7yd4MP3VGCgFvFyV4t81hL13K9EFP3ubmIfV6arMv+BtIoCJhQveQnuox1ealjBDqCjmFv/Weq2v8uSCSn8HqMkx+RjWcPb2wni2vf0pOO1seBVBAUKjFAqCOyOngWkL2Zw4c1y7lpzeqBL69eafshKb/EYq+tE1X10263q1wp4pbnc2P5YB9z6AUfjdOLL/kcFnxJql5faLBTchNt9b9T7oMfTiZ4og+kzzz+pDlec/5WTSLXGNJMZdopKJH0uXYlYeANPOqU5z5aDSYVqj8S4kpYVBfwplTXh/xA9Agno="/>
    <add name="connectionStringOld" connectionString="7yd4MP3VGCgFvFyV4t81hL13K9EFP3ubA88Gd4uAdysuaCtpV0CK3itAHzc72vW9+LEXKz07ilUKVMCqIyxmXB+ZJ+Wnp+AmSS3wYfTwF30MgZQnZecb/BbVyyXJ4RnX22KGn0v/riRbZ3AwrNnm0s85dIhs8FVJLMPgYsWgUkOjY8AayYCXYJ6T/NfvPyddEJWuD2knClG/e4IBzdJAlSuZHdcybjjl"/>

    <add name="connectionStringUAT" connectionString="7yd4MP3VGCgFvFyV4t81hL13K9EFP3ubA88Gd4uAdysuaCtpV0CK3mj4X0YfgCkRE4ad1mnn1ECxiq1QgI1r7tVhQ9e9nIP1HUv8HI7YY2NCKU9i2TVkr/bvUkDecYpN/J9uhGk2hAEvWthtUexvem8BZXc7uTUZaTSLnOfDYIK1QuhvcNqLRo0JXBj7T5n5X4mptCP/RvBx9MBRTBeO+kJSg1Ghvavd"/>
    

    <!--
    //connectionStringLv = Data Source=10.45.10.106;Initial Catalog=RemittanceDB;User ID=remittanceapiUser;Password=Rem!ttanceApiUser!@34#
    //connectionStringDR = Data Source=10.46.10.106;Initial Catalog=RemittanceDB;User ID=remittanceapiUser;Password=R3mitt@nc3@p!us3r@321
    //connectionStringOld = Data Source=192.168.67.32;Initial Catalog=RemittanceDB;User ID=sa;Password=mtb@dm!n
    //connectionStringNrbWork = Data Source=10.45.10.106; Initial Catalog=NRBWork; User ID=nrbwork; Password=Mtb@1234
    -->
  
  </connectionStrings>
  
  <appSettings>
    <add key ="FolderPathBranchCashFiles" value ="UploadedFiles/BranchCashTxnFiles/"/>
    <add key ="FolderPathTerrapayFiles" value ="UploadedFiles/BkashTerrapayTxnFiles/"/>
    <add key ="FolderPathAlipayFiles" value ="UploadedFiles/AlipayFiles/"/>

    <add key ="AlipayDestinationPath" value ="/upload/mtb/"/>
    <add key ="AlipayHostAddr" value ="isftp.alipay.com"/>
    <add key ="AlipaySftpUsername" value ="openvise_fluxnet_mtb"/>
    <add key ="AlipaySftpPassword" value ="WVS0DN"/>
    <add key ="AlipaySftpPort" value ="22"/>
    <add key ="PROXY_HOST" value ="192.168.51.61"/>
    <add key ="PROXY_PORT" value ="80"/>
    
  </appSettings >

  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576"/>

    <sessionState mode="InProc" cookieless="true" timeout="120" />
    
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"></requestLimits>
      </requestFiltering>
    </security>
    
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGCCService" />
        <binding name="BasicHttpBinding_ICTCService" />
        <binding name="BasicHttpBinding_IEzRemitService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.32.63/GCC/GCCServiceClass.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGCCService"
        contract="GCCServiceClient.IGCCService" name="BasicHttpBinding_IGCCService" />
      <endpoint address="http://192.168.32.63/ICTC/ICTCServiceClass.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICTCService"
        contract="ICTCServiceClient.ICTCService" name="BasicHttpBinding_ICTCService" />
      <endpoint address="http://192.168.32.63/EzRemitLive/EzRemitServiceClass.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEzRemitService"
        contract="EzRemitServiceClient.IEzRemitService" name="BasicHttpBinding_IEzRemitService" />
    </client>
  </system.serviceModel>
</configuration>